@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*, body {
    cursor:none !important;
}
a {
  font-family: "Iosevka Charon", monospace;
  font-weight: 400;
  font-style: normal;
}
nav {
    align-content:center;
    font-size: 22px;
    font-weight: 700;
}
button {
    background-color: #1E1E1E;
    border-radius: 12px;
    border: 4px solid white;
}
.dark-light-switch {
    background-color: #1E1E1E;
    border-radius: 12px;
    border: 4px solid white;
    position: fixed; bottom: 15px; left: 15px;
    background-image: url("../images/sun_icon.png"); 
    width: 45px; height:45px; 
    background-size: cover;
}
.dark-light-switch-alt {
    position: fixed; bottom: 15px; left: 15px;
    background-image: url("../images/moon_icon.png"); 
    width: 45px; height:45px; 
    background-size: cover;
    
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 4px solid #1E1E1E;
}

.nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    position: fixed; bottom: 0; left: 0; width: 100%;
}
.nav-link-container-light {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed; bottom: 0; left: 0; width: 100%;
}
h1 {
    font-weight: 700;
    font-family: "Iosevka Charon", monospace;

}
h2 {
    font-weight: 500;
    font-family: "Iosevka Charon", monospace;
}
h3 {
    font-weight: 400;
    font-family: "Iosevka Charon", monospace;
}
h4 {
    font-weight: 400;
    font-family: "Iosevka Charon", monospace;
}
h5 {
    font-weight: 300;
    font-family: "Iosevka Charon", monospace;
}
h6 {
    font-weight: 300;
    font-family: "Iosevka Charon", monospace;
}

html, body {
  cursor: none;
}
.custom-cursor {
  width: 0px;
  height: 0px;
  background-image: url('../images/cursor.png');
  background-size: cover;
  position: fixed;
  pointer-events: none; 
  z-index: 9999;
}
.custom-cursor.is-hovering {
    background-image: url('../images/pointer.png');
}
.journal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
}
.nav-links {
    display:flex;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    font-weight: 700;
    
} 
/* 3. The Looping Wave Layer */
.wave-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%; /* Must be at least 200% for a seamless loop */
    height: 50px; /* Height of the wave animation */
    /* Seamless SVG wave code embedded as background */
    background-image: url('../images/banner.png');
    
    background-repeat: repeat-x;
    background-size: 50% 100%; /* Matches the 200% width wrapper */
    animation: move-wave 10s linear infinite;
}
/* 3. The Looping Wave Layer */
.wave-wrapper-2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%; /* Must be at least 200% for a seamless loop */
    height: 54px; /* Height of the wave animation */
    /* Seamless SVG wave code embedded as background */
    background-image: url('../images/white_banner.png');
    
    background-repeat: repeat-x;
    background-size: 50% 100%; /* Matches the 200% width wrapper */
    animation: move-wave 10s linear infinite;
}

/* 3. The Looping Wave Layer */
.dark-wave-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    height: 50px;
     z-index: 2;
    background-image: url('../images/white_banner.png');
    background-repeat: repeat-x;
    background-size: 50% 100%; /* Matches the 200% width wrapper */
    animation: move-wave 10s linear infinite;
}
/* 3. The Looping Wave Layer */
.dark-wave-wrapper-2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    height: 54px; 
    z-index: 1;
    background-image: url('../images/banner.png');
    background-repeat: repeat-x;
    background-size: 50% 100%; /* Matches the 200% width wrapper */
    animation: move-wave 10s linear infinite;
}

.banner-content {
    position: relative;
    z-index: 3;
    top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70px; /* Keeps text above the wave */
    color: #FFFFFF;
    background-color: #1E1E1E;
    font-family: sans-serif;
    font-weight: bold;
}

.banner-content-light {
    position: relative;
    z-index: 3;
    top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70px; /* Keeps text above the wave */
    color: #1E1E1E;
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
}
.wavy-banner {
    position: relative;
    width: 100%;
    height: 120px; /* Adjust height as needed */
    background: #1E1E1E; /* Base banner background color */
}
.wavy-banner-dark {
    position: relative;
    width: 100%;
    height: 120px; /* Adjust height as needed */
    background: #FFFFFF; /* Base banner background color */
}



/* The actual background image layer */
.parallax-bg {
    position: absolute;
    z-index: index inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%; /* Make it taller so it doesn't leave gaps when moving */
    background-image: url('../images/howlingturnpikeblur.png');
    background-size: cover;
    background-position: center;
    will-change: transform; /* Optimizes browser rendering speed */
}
.light-parallax-bg {
    position: absolute;
    z-index: index inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%; /* Make it taller so it doesn't leave gaps when moving */
    background-image: url('../images/blurred-venous-stasis-bg.png');
    background-size: cover;
    background-position: center;
    will-change: transform; /* Optimizes browser rendering speed */
}
img {
    border: 4px solid white;
    border-radius:12px;
}
.expand-container-static {
    background-color: #1E1E1E;
    border: 4px solid white;
    border-radius: 12px;
    margin: 20px;
    padding: 50px;
}
.expand-container-static-light {
    background-color: white;
    border: 4px solid #1E1E1E;
    color: black;
    border-radius: 12px;
    margin: 20px;
    padding: 50px;
}
.scroll-to-top {
    background-color: #1E1E1E;
    color: #FFFFFF;
    width:125px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x:hidden;
}
.scroll-to-top-light {
    background-color: #1E1E1E;
    color: #FFFFFF;
    width:125px;
    height:45px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    overflow-y: hidden;
    overflow-x:hidden;
}
.expand-container {
    justify-content: center;
    overflow: hidden;
    background-color: #1E1E1E;
    border-radius: 12px;
    border: 4px solid white;
    padding: 50px;
    margin: 20px;
    width: 0px;
    height: 100px;
    flex-shrink: 0; /* Stops Flexbox from squishing it */
    flex-grow: 0;   /* Stops Flexbox from stretching it */
    transition: width 0.1s ease, height 0.1s ease;
}
.light-expand-container {
    justify-content: center;
    overflow: hidden;

    background-color: white;
    border-radius: 12px;
    border: 4px solid #1e1e1e;
    color:#1E1E1E;
    padding: 50px;
    -webkit-text-stroke: 1.4px black;
    margin: 20px;
    width: 0px;
    height: 100px;
    flex-shrink: 0; /* Stops Flexbox from squishing it */
    flex-grow: 0;   /* Stops Flexbox from stretching it */
    transition: width 0.1s ease, height 0.1s ease;
}
img {
    width: 100%;
    max-width: 500;
}
p {
    font-size: 18px;
}

/*tbl stuff*/
table, th, td {
    border:1px solid rgba(0, 0, 0, 0.2); border-radius: 4px; 
}
th {
    background-color: #1E1E1E;

}
td {
    background-color: #1E1E1E;

}
table {
    border:5px solid white;
}
.table-cell-dark-mode {
    background-color: white;
    color:black;
}
.table-header-dark-mode {
    background-color: white;
    color:black;

}
.table-dark-mode {
    border:5px solid black ;
}
/* Container holding the parallax area */
.parallax-container {
    z-index: -1;
    width: 100%;
    height: 600px;
}
.parallax-body {
    padding: 0;
    margin: 0;
}



/* Foreground content text layer */
.parallax-content {
    position: relative;
    z-index: 2;
    justify-content: center;
    color: white;
}


.container {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* optional vertical centering */
    gap: 1%; /* space between elements */
    
}

.text-content {
    flex: 1; 
    min-width: 0; 
}

.fixed-image {
    flex: 0 0 auto; /* stops the image from shrinking or growing */
    width: 150px; /* set your desired fixed width */
    height: auto;
    transition: rotate 0.1s ease;

}
/* 4. Infinite Loop Animation */
@keyframes move-wave {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-50%); /* Moves exactly one full pattern width */
}
}